<nav class="navbar navbar-light bg-light d-flex flex-row " role="navigation">
  <img src="../../assets/images/myLogoMain.svg" class="d-none d-md-block align-middle" width="30" height="30" alt="">
  <a class="navbar-brand align-middle font-weight-light " href="/">
    Home
  </a>
  <a class="navbar-brand align-middle font-weight-light " href="/about">
    About
  </a>
  <a class="navbar-brand align-middle font-weight-light " href="/art">
    Artwork
  </a>
  <a class="navbar-brand align-middle font-weight-light " href="/">
    Contact
  </a>
  <img src="../../assets/images/myLogoMain.svg" class="d-none d-md-block align-middle" width="30" height="30" alt="">
</nav>

