<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

<nav class="navbar d-flex flex-row justify-content-md-between justify-content-sm-center justify-content-xs-center" role="navigation">
  <img src="../../assets/images/myLogoMain.svg" class="d-none d-md-block align-middle" width="30" height="30" alt="">
  <a class="navbar-brand align-middle font-weight-light " href="/">
    Home
  </a>
  <a class="navbar-brand align-middle font-weight-light " href="/about">
    About
  </a>
  <a class="navbar-brand align-middle font-weight-light " href="/art">
    Artwork
  </a>
  <a class="navbar-brand align-middle font-weight-light " href="/contact">
    Contact
  </a>
  <img src="../../assets/images/myLogoMain.svg" class="d-none d-md-block align-middle" width="30" height="30" alt="">
</nav>

