main{
.hero-unit{
position: relative;
margin-bottom: 20px;
min-height: calc(160px + 8vw + 8vh);
p{
color: MidnightBlue	;
}
background-image: linear-gradient(to bottom right, PaleTurquoise, #D2B4DE	);
background-repeat: no-repeat;
background-size: cover;
}
.mainBody{
margin-bottom: 30px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 30px;
}
#welcome{
font-family: 'Karla', sans-serif;
animation: slideInFromTop 2.5s;
font-size: calc(15px + 4vw);
opacity: 1;
}
.message{
font-family: 'Lato', sans-serif;
animation: slideInFromTop 2s;
font-size: calc(15px + 1vw);
}
#card1{
animation: slideInFromBottom 2s;
img{
background-image: radial-gradient(circle at 100%, #D4E6F1 70%, #5499C7	);
}
}

#card2{
animation: slideInFromBottom 1.5s;
}

#card3{
animation: slideInFromBottom 2.2s;
img{
background-image: radial-gradient(circle at 0%, #D1F2EB 70%, #76D7C4);
}
}


.info-card{
img{
margin-bottom: 5px;
padding: 0px;
height: calc(25px + 8vw + 8vh);
object-fit: cover;
}

.info-header{
padding: 10px;
background-color: white;
border-radius: 5px 5px 0px 0px;
margin-bottom: 5px;
header{
font-family: 'Karla', sans-serif;
font-size: calc(20px + 1.5vw);
color:  #778899;
}
}
.info{
padding-bottom: 0px;
padding-top: 0px;
p{
padding:10px;
font-size: calc(15px + .5vw);
color: MidnightBlue;
}
background-color: #DCDCDC;
border-radius: 0px 0px 5px 5px;
}


}
#mainNavbar{
margin-bottom: 0px;
}

.hovered-element{

    .info-header{
      animation: hoverPadding .5s, backgroundDarken 1s;
      background-color: #DCDCDC;
      padding: 5px;
    }

  .info{
    img{
      animation: hoverAnimation .5s;
      height: calc(40px + 8vw + 8vh);
    }
    p{
      animation: hoverPadding .5s, backgroundLighten .5s;
      background-color: white;
      padding: 5px;
    }
  }
}

.leftElement{
    .info-header{
      animation: leftPadding .5s, backgroundLighten 1s;
      background-color: white;
      padding: 10px;
    }
  .info{
    img{
      animation: leftAnimation .5s ease-out;
      height: calc(25px + 8vw + 8vh);
    }
    p{
          animation: leftPadding .5s, backgroundDarken .5s ease-out;
          background-color: #DCDCDC;
          padding: 10px;
        }
  }
}
.background2{
min-height: calc(160px + 8vw + 8vh);
background-image: linear-gradient(to bottom right, #D2B4DE, PaleTurquoise	);
background-repeat: no-repeat;
background-size: cover;
opacity: 0;
animation: constantHeader 8s;
animation-iteration-count: infinite;

}
#heroText{
left: 2%;
right: 2%;
top: 10%;
position: absolute;
opacity: 1;
}
}
@keyframes hoverAnimation {
  from { height: calc(25px + 8vw + 8vh);}
  to   { height: calc(40px + 8vw + 8vh);}
}
@keyframes hoverPadding {
  from { padding: 10px;}
  to   { padding: 5px;}
}
@keyframes leftPadding {
  from { padding: 5px;}
  to   { padding: 10px;}
}

@keyframes leftAnimation {
  from { height: calc(40px + 8vw + 8vh);}
  to   { height: calc(25px + 8vw + 8vh);}
}

@keyframes constantHeader{
0% {opacity: 0}
50% {opacity:1}
100% {opacity:0}

}
