.aboutInfoBlock{


.videoWrap{
float: left;
  height: 50%;
  width: 50%;
  margin: 20px 20px 5px 20px;
  iframe{
  width: 100%;
  }

}
height: calc(430px + 7vw + 12vh);
padding-left: calc(0px + 5vw);
padding-right: calc(0px + 5vw);
margin-bottom: calc(20px + 5vw);
.aboutInfoHeader{
position: relative;
left: 100;
padding: 5px;
height: calc(50px + 18vw);
width: 100%;
}
.aboutInfoCol{

padding: 10px;
padding-left: 15px;
padding-right: 0px;
border-radius: 10px 0px 0px 10px;
background-color: white;
}
.aboutInfo{
margin-bottom: 30px;
padding-top:10px;
border-radius: 0px 10px 10px 0px;
background-color: white;
overflow: scroll;
animation: fadein 1s;
}
}
.titleBlock{
padding-top: 1vw;
img{
border-width: 1px 0px 1px 0px;
border-style: solid;
padding: 0px;
object-fit: cover;
opacity: .5;
}
p{
opacity: .5;
}
border-left: solid #778899;
background-color: #DCDCDC;
animation: backgroundDarken .5s;
}
.selected{
img{
opacity: 1;
}
p{
opacity: 1;
}
animation: backgroundLighten .5s;
opacity: 1;
padding-top: 1vw;
background-color: white;
border-right: solid white;
}
.aboutInfoText{

color: MidnightBlue;
font-family: 'Lato', sans-serif;
font-size: calc(13px + 1vw);
padding-left: 20px;
margin-bottom: 0px;

}
.aboutInfoTextBlock{
background-color: #D1F2EB;
padding-bottom: 30px;
}
.aboutInfoTextTitle{
color: MidnightBlue;
padding-left:0px;
margin-bottom: 40px;
font-size: calc(20px + 5vw);
font-family: 'Karla', sans-serif;
}
.aboutMenuText{
color: MidnightBlue;
font-family: 'Karla', sans-serif;
}
