@import 'variables';

/*-----------------BOOTSTRAP CUSTOMS--------------------|
| This styles sheet focuses on customizing the styles   |
| in bootstrap so we can maintain consistent styles     |
|-----------------------------------------------------*/


$brand-primary:         $blue;
$brand-info:            $light-blue;
$brand-success:         $blue;
$brand-warning:         $orange;
$brand-danger:          $orange;


$gray-base:             $black;
$gray-darker:           $dark-grey;
$gray-dark:             $grey;
$gray:                  $light-grey;
$gray-light:            $lightest-grey;
$gray-lighter:          $white;


$body-bg:               $white;

//custom navbar
$bgDefault      : $dark-grey;
$bgHighlight    : $grey;
$colDefault     : $light-grey;
$colHighlight   : $lightest-grey;
$dropDown       : false;

