 /*----------------------COLORS-------------------------|
| The color variables that should be used in order to   |
| maintain consistent colors through all style sheets   |
|-----------------------------------------------------*/


/*   GREYSCALE   */
$black:                 #3D3D3D;
$dark-grey:             #6E6E6E;
$grey:                  #9E9E9E;
$light-grey:            #B6B6B6;
$lightest-grey:         #D6D6D6;
$off-white:             #F4F4F4;
$white:                 #FFFFFF;


/*   BLUES   */
$blue:                  #1A94D9;
$light-blue:            #53AFE2;
$lightest-blue:         #8CC9EC;


/*   ORANGES   */
$orange:                #E9992A;
$light-orange:          #EEB35F;
$lightest-orange:       #F4CC94;

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
