<navbar></navbar>

<div class="hero-unit-about col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p id="artWelcome" class="text-center font-weight-light">Welcome to the Nelson Gallery.</p>
  <p class="artMessage text-center font-weight-light">Below is a collection of my work. Click on an image to expand it for more information. Click on it again to exit gallery mode.</p>
</div>

<div class="artBoard col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center font-weight-light artSectionTitle">Digital</h1>
  <hr class="artSectionBreak">
  <div ng-repeat="pic in artController.pics2" class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" >
  <img class="notExpanded w-100"
       ng-class= "{'fixed-top expandedPic':artController.returnSelected(pic.number), 'notExpanded': !artController.returnSelected(pic.number)}"
       ng-click= "artController.expandPicture(pic.number)"
       src="{{pic.src}}">
    <div class="text-center fixed-bottom picInfo" ng-if="artController.galleryMode && artController.returnSelected(pic.number)">
      <h2 class="font-weight-light">{{pic.title}}, {{pic.materials}}</h2>
    </div>

  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
       ng-class= "{'fixed-top align-center expandedIcons':artController.returnSelected(15), 'notExpanded myIcons': !artController.returnSelected(15)}"
       ng-click= "artController.expandPicture(15)">
    <img class="myIcon col-lg-3 col-md-3 col-sm-3 col-xs-3" src="../../assets/images/myLogoMain.svg">
    <img class="myIcon col-lg-3 col-md-3 col-sm-3 col-xs-3" src="../../assets/images/myLogoSimple.svg">
    <img class="myIcon col-lg-3 col-md-3 col-sm-3 col-xs-3" src="../../assets/images/myLogoBrush.svg">
    <img class="myIcon col-lg-3 col-md-3 col-sm-3 col-xs-3" src="../../assets/images/myLogoNegative.svg">
  </div>
  <div class="text-center fixed-bottom picInfo" ng-if="artController.galleryMode && artController.returnSelected(15)">
    <h2 class="font-weight-light">Icon Designs, Digital, Illustrator</h2>
  </div>
</div>
<div class="artBoard col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center font-weight-light artSectionTitle">Physical</h1>
  <hr>
  <div ng-repeat="pic in artController.pics" class="picture col-lg-3 col-md-4 col-sm-6 col-xs-12" >
    <img class="notExpanded"
      ng-class= "{'fixed-top expandedPic':artController.returnSelected(pic.number), 'notExpanded': !artController.returnSelected(pic.number)}"
      ng-click= "artController.expandPicture(pic.number)"
      src="{{pic.src}}">
    <div class="text-center fixed-bottom picInfo" ng-if="artController.galleryMode && artController.returnSelected(pic.number)">
      <h2 class="font-weight-light">{{pic.title}}, {{pic.materials}}</h2>
    </div>
  </div>

</div>
<div class=" blackBackground fixed-top" ng-if="artController.galleryMode">

</div>
<div class="customFooter sticky-bottom">
  <div>
    <footer class="footer-block"><p>Isaac Nelson, last updated: May 20th 2019, https://github.com/phonophox/mywebsite</p></footer>
  </div>
</div>
