art{
.artSectionTitle{
font-family: "Karla", sans-serif;
color: MidnightBlue;
}
.artBoard{
margin-bottom: 30px;
hr{
opacity: .8;
border-color: MidnightBlue;
color: #6633CC;
}
position:relative;

.picture{
padding: 10px;
height: 200px;
.notExpanded{
width: 100%;
height: 100%;
object-fit: cover;
opacity: 1;
border-radius: 10px;
box-shadow: 0px 0px 5px black;
}
}
}
.foxIcon{
height: 30vw;
object-fit: contain;
&:hover{
animation: fade .5s;
opacity: .6;
}
}
.expandedIcons{
background-color: white;
border-radius: 10px;
margin: auto;
margin-top: 0px;
width: 100%;
height: 90%;
object-fit: scale-down;
animation: grow 1s;
animation: slideInFromTop 1s;
}
.myIcons{
margin-top: 15px;
padding-top: 10px;
padding-bottom: 10px;
background-color: white;
border-radius: 10px;
box-shadow: 0px 0px 5px black;
&:hover{
animation: fade .5s;
opacity: .6;
}
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
}
.expandedPic{
margin: auto;
margin-top: 0px;
width: 90%;
height: 90%;
object-fit: scale-down;
animation: grow 1s;
animation: slideInFromTop 1s;

}

@keyframes grow {
  0% {
    height: 200px;
  }
  100% {
    height: 90%;
  }
}
.blackBackground{
background-color: black;
opacity: .5;
height: 100%;
width: 100%;
z-index: 0;
}
.picInfo{
margin-bottom:10px;
padding-bottom:10px;
background-color: black;
margin: auto;
animation: slideInFromBottom 2s;
width: 90%;
height: 10%;
h2{
margin-top: 0px;
font-family: 'Lato', sans-serif;
font-size: calc(15px + 3vw);
color: white;
}
}
.hoverContainer{
height: 180px;
padding: 10px;
}
.hovered-element{

   animation: arthoverPadding .5s;
   padding: 0px;

}

.leftElement{

  animation: artleftPadding .5s;
  padding: 10px;

}

.customFooter{
margin-top: 30px;
}


}
@keyframes arthoverPadding {
  from { padding: 10px;}
  to   { padding: 0px;}
}
@keyframes artleftPadding {
  from { padding: 0px;}
  to   { padding: 10px;}
}
